@media (max-width: 1600px) {
	.ph {
		width: 80px;
		height: 80px;
		margin-right: 890px;
		margin-top: 20px;
		padding-right: 20px;
	}

	.user {
		display: flex;
		flex-direction: row;
		align-items: center; /* Alinea verticalmente los elementos */
		justify-content: start;
		width: 30rem;
		margin-left: -4rem;
	}

	.section-comment {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 70%;
		height: 70px;
		margin-top: -150px;
		margin-right: 890px;
		border-radius: 45px;
		margin-left: 270px;
		margin-top: -10rem;
	}

	h5 {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
		display: flex;
		color: #000000;
		margin-right: 760px;
		position: relative;
		top: -75px;
		left: 90px;
	}
	p {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
		position: relative;
		left: -5rem;
		top: -3rem;
		/* top: -110px;
		left: -32%;
		width: 19%;
		height: 4%;
	}
}

@media (max-width: 420px) {
	.ph {
		display: flex;
		width: 15%;
		height: 60px;
		/* margin-right: 890px; */
		margin-top: 20px;
		display: flex;
		flex-direction: column;
	}

	.user {
		display: flex;
		flex-direction: row;
		align-items: center; /* Alinea verticalmente los elementos */
		justify-content: start;
		margin-left: -5rem;
	}

	.section-comment {
		/* border: red 1px solid; */
		display: flex;
		/* flex-direction: column; */
		justify-content: left;
		align-items: center;
		text-align: left;
		width: 90%;
		height: 100px;
		margin-top: -120px;
		margin-left: 30%;

		/* margin-left: 270px; */
	}

	h5 {
		/* border: red 1px solid; */
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
		/* display: flex; */
		color: #000000;
		top: -35px;

		/* margin-right: 760px; */
		/* position: relative; */
		/* top: -35px;
		left: 130px; */
	}
	p {
		/* border: red 1px solid; */
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
		position: relative;
		top: -15px;
		left: 1%;
		width: 89%;
		height: 44%;

		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	}
}
