@media (max-width: 1600px) {
	.ph {
		display: flex;
		width: 6%;
		height: 80px;
		margin-right: 890px;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
	}

	.section-comment {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 70%;
		height: 70px;
		margin-top: -150px;

		border-radius: 45px;
		margin-left: 270px;
	}

	h5 {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
		display: flex;
		color: #000000;
		margin-right: 760px;
		position: relative;
		top: -75px;
		left: 20px;
	}
	p {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
		position: relative;
		top: -110px;
		left: -32%;
		width: 19%;
		height: 4%;
	}
}

@media (max-width: 420px) {
	.ph {
		display: flex;
		width: 6%;
		height: 80px;
		margin-right: 890px;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
	}

	.section-comment {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 70%;
		height: 70px;
		margin-top: -150px;

		border-radius: 45px;
		margin-left: 270px;
	}

	h5 {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
		display: flex;
		color: #000000;
		margin-right: 760px;
		position: relative;
		top: -75px;
		left: 20px;
	}
	p {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
		position: relative;
		top: -110px;
		left: -32%;
		width: 19%;
		height: 4%;
	}
}
