.create{
	display: flex;
}

.hidden{
	display: none;
}

@media (max-width: 1600px) {
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 20%;
		width: 100%;
		/* margin-bottom: 10px; */

		/* Inside auto layout */

		order: 0;
		flex-grow: 0;
	}

	section img {
		width: 55%;
	}
}


@media (max-width: 420px) {
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
		width: 100%;
		margin-bottom: 10px;

		/* Inside auto layout */
		flex: none;
		order: 0;
		flex-grow: 0;
	}

	section img {
		width: 55%;
	}
}
