@media (max-width: 1600px) {
	.hidden-notifications {
		display: none;
	}
	p {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	}

	.text {
		margin-left: 5rem;
		margin-top: -1rem;
	}

	.notification {
		display: flex;
		justify-content: left;
		background-color: #eaeaea;
		height: 60px;
		width: 250px;
		/* position: absolute; */
		/* z-index: 200; */
		border-radius: 40px;
		margin-bottom: 20px;
		justify-content: center; /* Agrega espacio entre las notificaciones */
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
		padding: 2rem;
		flex-direction: column;
		/*justify-content: space-between;	*/


	}
	.section-notifications{

	}
	/* .noti {
		background-color: red;
	} */

	.photo {
		width: 60px;
		height: 60px;
		padding-right: 1rem;
	}
	.user {
		display: flex;
		flex-direction: row;
		align-items: start;
		justify-content: start;
	}
}

@media (max-width: 420px) {
	.section-notifications {
		border: 2px solid rgb(255, 0, 0);
		/* position: absolute;
  z-index: 2; */
	}
	.hidden-notifications {
		display: none;
	}
	p {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	}
}
