<<<<<<< HEAD
@media (max-width: 1600px) {
	.section-notifications {
		border: 2px solid rgb(255, 0, 0);
		/* position: absolute;
		z-index: 2; */
	}
	.hidden-notifications {
		display: none;
	}
	p {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	}
}

@media (max-width: 420px) {
	.section-notifications {
		border: 2px solid rgb(255, 0, 0);
		/* position: absolute;
  z-index: 2; */
	}
	.hidden-notifications {
		display: none;
	}
	p {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	}
}
=======

>>>>>>> 106ec02d427fc57c37215004775e7a13aaee0981
