@media (max-width: 1600px) {
	.section-notifications {
		border: 2px solid rgb(255, 0, 0);
		/* position: absolute;
		z-index: 2; */
	}
	.hidden-notifications {
		display: none;
	}
	p {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	}

	.text {
		border: 2px solid rgb(72, 255, 0);
	}

	.name {
		border: 2px solid rgb(55, 0, 255);
	}

	.notification {
		border: 2px solid rgb(255, 0, 0);
		display: flex;
		justify-content: right;

		height: 70%;

		background-color: rgb(226, 226, 226);
		border-radius: left 15%;

		height: 158px;
		left: 50%;
		position: relative;
		top: -90%;
		width: 270px;
		box-shadow: 10px 5px 5px rgb(177, 177, 177);

		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	}
}

@media (max-width: 420px) {
	.section-notifications {
		border: 2px solid rgb(255, 0, 0);
		/* position: absolute;
  z-index: 2; */
	}
	.hidden-notifications {
		display: none;
	}
	p {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	}
}
