.card {
	@apply flex flex-col w-full items-center mb-20 bg-[#F3F3F3] rounded-3xl z-50;
	box-shadow: 5px 2px 2px rgb(170, 170, 170);
}

.card-header {
	@apply flex z-50 space-x-5 items-center w-full py-2 rounded-t-3xl;
	box-shadow: 0 2px 2px rgb(168, 168, 168);
}

.desc-section {
	@apply w-[80%] p-5;
}

.actions {
	@apply flex space-x-1 w-full items-center relative;
}
.photo {
	width: 9%;
	height: auto;
	margin-left: 3px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 80;
	font-style: normal;
	color: #000000;
	/* border: #18d000 1px solid; */
}
.image {
	@apply w-full h-auto;
}

.tag {
	background-color: #18d000;
	border-radius: 30px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	height: 30px;
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 80;
	font-style: normal;
	@apply px-2 max-md:w-10;
}

.desc {
	/*/border: red 1px solid;/*/
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 80;
	font-style: normal;
	text-align: justify;
	text-justify: inter-word;
}
.bookmark {
	position: absolute;
	right: 5%;
	outline: none;
	background: none;
	border: none;
}

.heart {
	background: none;
	border: none;
	left: 20%;
}

.like {
	cursor: pointer;
	@apply max-md:w-6;
}

.comment {
	@apply max-md:w-6;
}

#bookma {
	cursor: pointer;
}

.save {
	@apply max-md:w-6;
}

.save:hover {
	opacity: 0.4;
	transition: 0.3s;
}

.save:active {
	transform: scale(0.9);
}

.saveF {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
