/* container {
	flex-direction: column;
	position: relative;
	width: 1920px;
	height: 2254px;
} */
#mainPageContainer {
	margin-top: 110px;
	display: flex;
	flex-direction: column;
	box-sizing: content-box;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

/* .section-notifications {
	border: 2px solid black;
	width: 584px;
	padding-bottom: 3rem;
	/* position: absolute;
  z-index: 2;} */

.hidden-notifications {
	display: none;
}

#notifications-container {
	margin-top: 110px;
	margin-right: 50px;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99000;
	background-color: rgba(0, 0, 0, 0.5);

}

.ntf-cont{
	display: flex;
	justify-content: end;
	padding-right: 20px;

}

.post-container {
	@apply flex flex-col w-[90%] md:w-[87%] p-1 items-center mt-20 justify-center;
	margin-left: calc(12.5%);

}

@media (max-width: 420px) {
	.post-container{
		margin: 5px;
	}
}