@media (max-width: 1600px) {
	section {
		/* Rectangle 295 */

		width: 80%;
		height: 45px;

		margin-bottom: 5px;

		/*background: #bdbdbd;*/
		border-radius: 45px;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#tagButton {
		outline: none;
		background-color: #bdbdbd;
		border: none;
		height: 45px;
		width: 100px;
		border-radius: 45px;
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	}
	.section-tags {
		height: 45px;
	}
	section p {
		margin: 0;

		width: 100%;
		text-align: center;

		font-weight: 800;
		font-size: 16px;
		color: #000000;
	}
}

@media (max-width: 420px) {
	section {
		/* Rectangle 295 */

		width: 80%;
		height: 45px;

		margin-bottom: 5px;

		/*background: #bdbdbd;*/
		border-radius: 45px;

		display: flex;
		justify-content: center;
		align-items: center;
	}
	#tagButton {
		outline: none;
		background-color: #bdbdbd;

		border: none;
		height: 45px;
		width: 100px;
		border-radius: 45px;
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	}
	.section-tags {
		height: 45px;
	}
	section p {
		margin: 0;

		width: 100%;
		text-align: center;

		font-weight: 800;
		font-size: 16px;
		color: #000000;
	}
}
