* {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 80;
	font-style: normal;
}
#section-container {
	@apply flex flex-col items-center justify-center relative h-screen;
}

@media (max-width: 1600px) {
	my-contact {
		justify-content: center;
		display: flex;
		/* margin-top: 35%; */
	}

	section {
		display: flex;
		margin-top: 50px;
		/* justify-content: center; */
	}

	#back-img {
		margin-left: -50%;
		margin-top: -40px;

		width: 70px;
		height: 60px;
	}

	#user-img {
		margin-left: 42%;
		justify-content: center;
		display: flex;
		position: fixed;
		align-items: center;
	}

	#logout-button {
		background-color: red;
		color: white;
		border-radius: 60px;
		border: none;
		/* justify-content: center;
	display: flex; */
		margin-left: 42%;
		margin-top: 40px;
		width: 90px;
		height: 40px;
	}

	#edit {
		background-color: rgb(20, 20, 20);
		color: white;
		border-radius: 60px;
		border: none;
		/* justify-content: center;
	display: flex; */
		margin-left: 42%;
		margin-top: 40px;
		width: 90px;
		height: 40px;
	}

	.container {
		/* justify-content: center;
	display: flex; */
		margin-top: 9%;
	}

	h2 {
		margin-top: 10%;
		margin-left: 30%;
	}

	/* #file-input {
		/* background-color: rgb(20, 20, 20);
		color: white;
		border-radius: 60px;
		border: none;
		 justify-content: center;
	display: flex;
		width: 90px;
		height: 40px;
		margin-top: -30px;
	} */
}

@media (max-width: 420px) {
	my-contact {
		justify-content: center;
		display: flex;
		/* margin-top: 35%; */
	}

	section {
		display: flex;
		margin-top: 50px;
		/* justify-content: center; */
	}

	#back-img {
		margin-left: -65%;
		margin-top: -40px;
		padding-bottom: 20px;

		width: 50px;
		height: 40px;
	}

	#user-img {
		margin-left: 42%;
		justify-content: center;
		display: flex;
		position: fixed;
		align-items: center;
		width: 75px;
		height: 80px;
	}

	#logout-button {
		background-color: red;
		color: white;
		border-radius: 60px;
		border: none;
		/* justify-content: center;
	display: flex; */
		margin-left: 35%;
		margin-top: 40px;
		width: 90px;
		height: 40px;
	}

	#edit {
		background-color: rgb(20, 20, 20);
		color: white;
		border-radius: 60px;
		border: none;
		/* justify-content: center;
	display: flex; */
		margin-left: 35%;
		margin-top: 40px;
		width: 90px;
		height: 40px;
	}

	/* #file-input {
		background-color: rgb(20, 20, 20);
		color: white;
		border-radius: 60px;
		border: none;


		width: 90px;
		height: 40px;
	} */

	.container {
		/* justify-content: center;
	display: flex; */
		margin-top: 9%;
	}

	h2 {
		margin-top: 10%;
		margin-left: 30%;
	}
}

/* #back-img {
	@apply absolute top-0 left-0 m-3 w-12 z-50;
} */

#user-photo {
	@apply w-24 rounded-full;
}

#name-label {
	@apply text-center text-xl rounded-lg mt-2;
}
