@media (max-width: 1600px) {
	#header {
		position: fixed;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100px;
		left: 0px;
		top: 0px;
		margin: 0 auto;
		background: #2000fb;
		z-index: 10000;
	}

	.section-notifications {
		background-color: red;
	}

	#horizontalSpace {
		width: 75%;
	}

	.logo {
		min-width: 15%;
		min-height: 45%;
		margin-left: 30px;
	}

	.notification {
		margin-right: 15px;

		background-color: blue;
	}

	.photo {
		height: 60%;
		margin-right: 30px;
	}
}

@media (max-width: 420px) {
	#header {
		position: fixed;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 99%;
		height: 100px;
		left: 0px;
		top: 0px;
		margin: 0 auto;
		background: #2000fb;
	}

	#horizontalSpace {
		width: 75%;
	}

	.logo {
		min-width: 50%;
		min-height: 30%;
		margin-left: 20px;
	}

	.notification {
		margin-right: 15px;
		height: 35px;
		width: 30px;
	}

	.photo {
		height: 60%;
		margin-right: 20px;
	}
}
