@media (max-width: 1600px) {
	.navSection {
		position: absolute;
		top: 100px;
		background-color: #f2f2f2;
		height: 86%;
		width: 8%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	/* navTags {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	} */
	image {
		position: absolute;
		width: 9px;
		height: 9px;
		left: 1771px;
		top: 17px;
	}

	h2 {
		margin: 0 0 10px 0;
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	}

	my-tags {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 420px) {
	.navSection {
		position: absolute;
		top: 100px;
		background-color: #f2f2f2;
		height: 86%;
		width: 8%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	/* @media (max-width: 440px) {
		.navSection {
			position: absolute;
			margin-bottom: 3rem;
			border: 4.75px solid #ffffff;
			height: 86%;
			width: 8%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	} */
	/* navTags {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	} */
	image {
		position: absolute;
		width: 9px;
		height: 9px;
		left: 1771px;
		top: 17px;
	}

	h2 {
		margin: 0 0 10px 0;
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	}

	my-tags {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
