
	.navSection {
		/* border: 2px solid rgb(255, 9, 9); */
		position: fixed;
		top: 100px;
		left: 4px;
		background-color: #f2f2f2;
		height: 86%;
		width: 12.5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@apply max-md:hidden;
	}
	/* navTags {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	} */
	image {
		position: absolute;
		width: 9px;
		height: 9px;
		left: 1771px;
		top: 17px;
	}

	h2 {
		margin: 0 0 10px 0;
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: bold;
		font-style: normal;
	}

	my-tags {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

@media (max-width: 768px) {
	.navSection {
		z-index: 10000;
		position: fixed;
		top: auto;
		bottom: 0;
		left: 0;
		background-color: #f2f2f2;
		height: 10%;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		@apply rounded-lg bg-neutral-400 px-4 overflow-scroll right-0;
	}

	.hid{
		@apply hidden;
	}
	/* @media (max-width: 440px) {
		.navSection {
			position: absolute;
			margin-bottom: 3rem;
			border: 4.75px solid #ffffff;
			height: 86%;
			width: 8%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	} */
	/* navTags {
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
	} */
	image {
		position: absolute;
		width: 9px;
		height: 9px;
		left: 1771px;
		top: 17px;
		justify-content: center;
		align-items: center;
	}

	h2 {
		margin: 0 0 10px 0;
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
		font-optical-sizing: auto;
		font-weight: bold;
		font-style: normal;
		justify-content: center;
		align-items: center;
	}

	my-tags {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
