@media (max-width: 1600px) {
	.navSection {
		position: fixed;
		top: 100px;
		background-color: #f2f2f2;
		height: 86%;
		width: 8%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	image {
		position: absolute;
		width: 9px;
		height: 9px;
		left: 1771px;
		top: 17px;
	}

	h2 {
		margin: 0 0 10px 0;
		font-size: 20px;
	}

	my-tags {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 400px) {
	.NavBar {
		position: absolute;
		width: 1920px;
		height: 130px;
		left: 0px;
		top: 0px;

		/* principal Blue */
		background: #2000fb;
	}

	.navSection {
		position: absolute;
		left: 12.5%;
		right: 20.83%;
		top: 12.5%;
		bottom: 20.83%;
		border: 4.75px solid #ffffff;
	}

	image {
		position: absolute;
		width: 9px;
		height: 9px;
		left: 1771px;
		top: 17px;
	}
}
