/* container {
	flex-direction: column;
	position: relative;
	width: 1920px;
	height: 2254px;
} */

#mainPageContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}

@media (max-width: 400px) {
	container {
		flex-direction: column;
	}
}
.section-notifications {
	border: 2px solid black;
	/* position: absolute;
  z-index: 2; */
}
.hidden-notifications {
	display: none;
}
