/* container {
	flex-direction: column;
	position: relative;
	width: 1920px;
	height: 2254px;
} */
#mainPageContainer {
	display: flex;
	flex-direction: column;
	box-sizing: content-box;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

/* .section-notifications {
	border: 2px solid black;
	width: 584px;
	padding-bottom: 3rem;
	/* position: absolute;
  z-index: 2;} */

.hidden-notifications {
	display: none;
}

#notifications-container {
	margin-top: 55rem;
}

.post-container {

}