@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#login-container {
	position: relative;
	z-index: 1;
	height: 100%;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 50px;
	background-color: #fff;
	@apply space-y-12 md:w-1/3;
}

.input {
	@apply font-bold rounded-md border border-[#240AD9] px-4 py-2 text-[#240AD9] placeholder-blue-500 focus:outline-none focus:border-blue-700;
}

#login-input_container {
	@apply flex flex-col justify-center w-full space-y-2 text-base;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('https://i.ibb.co/ysvPx1d/k.jpg');
	opacity: 0.4;
	@apply bg-contain bg-right;
}

main {
	background-image: url('https://i.ibb.co/k2bKQ96/icesi-tower.jpg');
	@apply h-screen w-full bg-contain bg-right relative;
}

.signup-link {
	@apply underline text-purple-700;
}

h1 {
	@apply font-extrabold text-[#240AD9];
}

.login-btn {
	@apply w-full px-4 py-2 text-[#240AD9] bg-[#ABFC61] text-base font-bold rounded-md;
}

h3 {
	@apply text-[12px];
}

.signup-container {
	@apply border-dashed border-gray-300 px-4 py-4 w-full border-t-2;
}
